<launch>

  <!--Arguments that can be passed into the launch from the cmd line-->
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>

  <!--Parameters to be placed on the ros param server
  <param name="/use_sim_time" value="true" /> -->

  <!--Start up the gazebo simulator with the PR2 robot inside it-->
  <include file="$(find pr2_gazebo)/launch/pr2_kitchen_world.launch"/>

   <!--Start up moveit in order to plan arm trajectories-->
  <include file="$(find pr2_moveit_config)/launch/move_group.launch"/>

  <!-- Add table to the world-->
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
   args="-urdf -file $(find system_launch)/models/table.urdf -model table -x 1 -y 0.5"
   respawn="false" output="screen" />

   <!-- Add the rvoz and graspit interface to see the planning-->
   <node name="graspit_interface" pkg="graspit_interface" type="launch_graspit.sh" output="screen" />
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find system_launch)/launch/rviz.rviz"/>
</launch>
